---
import LinkAction from "../LinkAction/LinkAction.astro";
const {
  url,
  iconUrl,
  name,
  iconOnly = false,
  variant = "secondary",
  target = url.startsWith("/") ? undefined : "_blank",
  rel = target === "_blank" ? "noreferrer" : undefined,
} = Astro.props;
import styles from "./GithubLink.module.css";
---

<LinkAction
  url={url}
  label={name}
  iconOnly={iconOnly}
  variant={variant}
  target={target}
  rel={rel}
>
  <span class={styles.content}>
    <img class={styles.logo} src={iconUrl} alt={`${name} logo`} />
    {!iconOnly && <span class={styles.label}>{name}</span>}
  </span>
</LinkAction>
