---
import styles from "./ProjectCard.module.css";
import type { Project } from "../../types/project";
import ImageButton from "../ImageButton/ImageButton";
import GithubLink from "../GithubLink/GithubLink.astro";

interface Props {
  project: Project;
  index?: number;
}

const { project, index = 0 } = Astro.props;
---

<article
  style={{ "--card-index": index }}
  class={styles["project-card-container"]}
>
  <ImageButton client:load project={project} />
  <section class={styles["project-info"]}>
    <h2 class={styles.title}>{project.name}</h2>
    <p class={styles.description}>
      {
        Array.isArray(project.description)
          ? project.description.join("")
          : project.description
      }
    </p>
  </section>
  <div class={styles["tag-container"]}>
    {
      project.libraries.map((library) => (
        <span class={styles.tag}>{library}</span>
      ))
    }
    {
      project.languages.map((language) => (
        <span class={styles.tag}>{language}</span>
      ))
    }
  </div>
  <GithubLink
    name="Github"
    iconUrl="/icons/github-mark-white.svg"
    url={project.url}
  />
</article>
